#HCB_comment_box{
    border-left:2px solid #121212;
    border-right:2px solid #121212;
    /*border-radius:5px;*/
    padding:50px;
    color:#121212;
    background:#121212;

}
.hcb-mod b{
    color:#FC0254
}

#HCB_comment_box #hcb_form .btn-secondary, #HCB_comment_box #HCB_comment_form_box .btn-secondary {
    border: 1px solid #353535;
    background-color: #dcdcdc;
    color: #353535;
}

#HCB_comment_box input {
        margin-left: 0;
        background-color: #FC0252;
}
/*Zona de 'comentario' */

#HCB_comment_box textarea,#HCB_comment_box input.text{
    padding:18px 18px;
    border-top:1px solid #dcdcdc;
    border-left:1px solid #dcdcdc;
    border-bottom:1px solid #dcdcdc;
    border-right:1px solid #dcdcdc;
    background-color:#dcdcdc;
    font-style:italic;
 /*    width:226.62px; */
}

#HCB_comment_box .hcb-wrapper-half{
    display:block;
    width:100%;
    float:left
}

#HCB_comment_box .hcb-wrapper{
    clear:both
}

#HCB_comment_box input.text{
    display:block;
    width:95%
}

/*Campo "Nombre" */

#HCB_comment_box input {
    padding:18px 18px;
    border-top:1px solid #dcdcdc;
    border-left:1px solid #dcdcdc;
    border-bottom:1px solid #dcdcdc;
    border-right:1px solid #dcdcdc;
/*    margin-left:0; */
    margin-bottom:18px;
    background:#dcdcdc;
}

/*Campo 'Nombre' tipo de letra */

#hcb_form_name{
    font-style:italic
}

#HCB_comment_box input.submit{
    padding:18px 85px;
    display:inline-block;
    background:#FC0252;
    color:#fff;
    font-size:15px;
    font-weight:700;
    border:1px solid #FC0254;
    cursor:pointer;
    margin-top:18px

    /*    border-top:15px solid #FC0254;
    border-left:20px solid #FC0254;
    border-bottom:15px solid #FC0254;
    border-right:20px solid #FC0254;
    background-color:#FC0254;
    color:#fff;
    font-size:15px;
    font-weight:700;
    cursor:pointer */
}

#HCB_comment_box div.comment{
    color:#777272;
    background:#fff;
    border:1px solid #f1f1f1;
    margin:5px;
    padding:2px
}

#HCB_comment_box .comment .likes{
    color:#FC0254
}

#HCB_comment_box .hcb-link{
    color:#0088af;
    text-decoration:none
}
