#mc_embed_signup{background:#121212; clear:left; font:14px PT-sans,sans-serif}
#mce-EMAIL{background:#dcdcdc; padding:18px 18px; border:1px solid #dcdcdc; font-style:italic}
#mc-embedded-subscribe{background:#FC0254; padding:18px 18px; color:#fff; font-weight:700; border:1px solid #FC0254}
